@import '../../styles/global';

.login {
  &__container {
    color: $black;
    position: absolute;
    background-color: $black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    font-size: 25px;

    @include desktop {
      justify-content: center;
      align-items: center;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__content {
    border: 3px solid $beige;
    padding: 60px;
    border-radius: 5px;
    background-color: $lightBeige;

    @include mobile {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 22px;
    }

    @include desktop {
      min-width: 400px;
    }
  }

  &__title {
    text-align: center;
    padding-bottom: 30px;
  }

  &__footnote {
    padding-top: 30px;
    font-size: 18px;
  }

  &__footnote-error {
    color: $lightBeige;
    padding-top: 10px;
    font-size: 18px;
  }

  &__success {
    color: $orange;
  }

  &__error {
    max-width: 400px;
    padding-top: 20px;

    @include mobile {
      color: $orange;
    }
  }

  &__link {
    cursor: pointer;
    text-decoration: underline;
  }

  &__new-pw {
    padding-top: 20px;
  }

  &__error-desktop {
    @include mobile {
      display: none;
    }
  }

  &__error-mobile {
    @include desktop {
      display: none;
    }
  }
}